.container--section{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.container--welcome{
    text-align: center;
    padding: 10rem 10%;
}

.section--welcome{
    background: url('./bg/welcome.jpg') no-repeat center fixed;
    height: 90vh;
}

.section--welcome h1{
    color: rgb(29, 29, 29);
    font-size: 4rem;
}

.section--welcome b{
    color: rgb(255, 230, 41);
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.welcome--img{
    position: absolute;
    bottom: 0;
}

.welcome--img img{
    width: 15rem;
}


.container--servicios p{
    margin: auto;
    font-size: 1.1rem;
    width: 55%;
}

.about--wrapper{
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.about--text{
    width: 50%;
    color: white;
    font-size: 1.3rem;
    font-family: Questrial;
}

.about--image{
    width: 50%;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.about--image img{
    width: 80%;
}

.carousel--container{
    width: 100%;
}

.card--container{
    text-align: center;
}

.card--container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card--container li{
    width: 60%;
}

.bg--light{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.705);
}

.bg--black{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f1f23;
}

.bg--white{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

.title--nice{
    margin-bottom: 2rem !important;
}

.title--nice h1{
    text-align: center;
    font-family: Questrial;
    font-size: 3rem;
}
.title--nice span{
    display:block;
    margin: auto;
    margin-top: -1rem;
    width: 10%;
    border-top: 0.2rem solid rgb(234, 208, 24);
}

.color--white{
    color: white
}

.color--black{
    color: black
}

.carousel--button {
	border-radius:20px;
	border:1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:9px 23px;
}
.carousel--button:hover {
	background-color:rgb(234, 208, 24);
}
.carousel--button:active {
	position:relative;
	top:1px;
}

@media screen and (max-width: 991px) {
    .container--welcome{
        text-align: center;
        padding-top: 3rem;
    }

    .section--welcome{
        background: url('./bg/welcome.jpg') no-repeat center;
    }

    .section--welcome h1{
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 2.5rem;
    }

    .section--welcome b{
        color: rgb(255, 230, 41);
        -webkit-text-stroke: 0;
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    

    .welcome--img img{
        width: 8rem;
    }
}